/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quán đến chi tiết
*/
/* 
1. Vị trí
2. Kích thước(width, height)
3. Màu sắc
4. Kiểu dáng(Kiểu chữ, hình tròn, vuông, ...)
*/


/* Common */
.clear{
    clear: both;
}

.text-center{
    text-align: center !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 33.33333%;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}
/* Main */

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
}

#nav{
    display: inline-block;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li:hover > .subnav {
    display: block;
}

#nav>li >a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display:block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;  
    position: absolute;
    background-color: #fff;
    left: 0;
    min-width: 160px;
    list-style-type: none;
    top: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 12px;
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider3.jpg') top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 47px;
    width: 100%;
    text-align: center;
    
}

#slider .text-heading{
    font-size: 24px;
    font-weight: 300;
    text-shadow: 0 0 1px #000;
}

#slider .text-description{
    margin-top: 25px;
    font-size: 15px;
    text-shadow: 0 0 1px #000;
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    font-style: italic;
    text-align: center;
    color: #bbb;
    margin-top: 25px;
}

#content .about-text{
    font-size: 15px;
    line-height: 1.5;
    margin-top: 15px;
    text-align: justify;
}

#content .members-list{
    margin-top: 32px;

}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
/* Tour Section */
.tour-section{
    background-color: #000;
}

.tour-section .section-heading{
    color: #fff;
}

.tickets-list{
    background-color: #fff;
    list-style: none;
    margin-top: 40px;
}

.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid rgb(221, 221, 221);
    color: rgb(117, 117, 117);
}

.tickets-list .sold-out{
    background-color: rgb(244, 67, 54);
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-right: 16px;
    margin-top: -3px;
}

/* Places */

.places-list{
    margin-top: 16px;
}

.place-img{
    width: 100%;
    display: block;

}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}

.play-heading{
    font-size: 15px;
    font-weight: bolder;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.5;
}

.place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    -webkit-appearance: none;
}

.place-buy-btn:hover{
    background-color: #ccc;
    color: #000;
}

/* Contact form*/
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;

}

.contact-info p i{
    width: 30px;
    display: inline-block;
}

.contact-info a{
    color: #101aef;
    opacity: 0.8;
}

.contact-info a:hover{
    opacity: 1;
}

.contact-form{
    font-size: 15px;
    
}

.contact-form .form-control{
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-submit-btn{
    font-size: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 11px 15px;
    float: right;
}

.contact-submit-btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

/* Map section */
.map-section img{
    width: 100%;
    margin-top: 111px;
}

/* Footer Section */

#footer{
    padding: 64px 16px;
    text-align: center;
}

.socials-list{
    font-size: 24px;
    text-transform: none;
    color: #000;
}

.socials-list a, 
#footer .copyright{
    color: #000;
    opacity: 0.6;
    text-decoration: none;
}

.socials-list a:hover{
    opacity: 0.4;
}

#footer .copyright{
    margin-top: 15px;
}

#footer .copyright a{
    color: #000;
}


